
.container-fluid {
    background-color:rgb(209, 207, 207);
    padding:6px;
    box-shadow:rgba(180, 180, 180, 0.3);
    
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(209, 207, 207);
    color: white;
    padding: 10px;
  }
  
  .nav h3 {
    margin: 0;
    font-size: 24px;
    margin-left:50px;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-right:50px;
    cursor: pointer;
  }